/* CSS Extracted from index.html */
* {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

.Cargame {
    width: 100%;
    height: 100vh;
    background-image: url('/feed-img1.png');
    /*background-image: url('bg1.jpg');  */
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.car,
.enemy {
    width: 60px;
    height: 90px;
    position: absolute;
    bottom: 150px;
    border-radius: 15%;
    background: red;
    background-image: url('/car1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.lines {
    width: 18px;
    height: 100px;
    background: white;
    position: absolute;
    margin-left: 195px;
}

.GameArea {
    width: 400px;
    height: 100vh;
    background-color: rgb(20, 17, 44);
    margin: auto;
    position: relative;
    border-right: 12px dashed #793190;
    border-left: 12px dashed #6a2a80;
}

.Score {
    position: absolute;
    top: 40px;
    left: 40px;
    background: rgb(59, 185, 59);
    width: 300px;
    line-height: 70px;
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 5px 5px 5px rgb(153, 84, 124);
}

.StartScreen {
    position: absolute;
    background-color: #ee5252;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    text-align: center;
    border: 4px dashed #cc3530;
    padding: 15px;
    margin: auto;
    width: 50%;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 5;
    font-size: 20px;
    word-spacing: 3;
    line-height: 30px;
    text-transform: uppercase;
    box-shadow: 0 5px 5px rgb(202, 66, 66);
}

.highscore {
    position: absolute;
    top: 40px;
    right: 40px;
    background: rgb(236, 20, 20);
    width: 300px;
    line-height: 70px;
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 5px 5px 5px rgb(62, 149, 89);
}